.muted {
    opacity: 0.5;
}

h2 {
    margin-bottom: 0;
}

body {
    font-family: "adobe-garamond-pro", georgia;
    font-size: large;
}

.content {
    padding-top: 30px;
}

pre {
    font-size: small;
    padding: 1em;
    margin-bottom: 13px;
    background-color: rgba(200, 200, 200, 0.35);
}

.code {
    font-family: consolas, monospace;
}

#logo {
    font-size: 2.3125em;
    padding-left: 15px;
}

.header {
    background-color: rgb(35, 124, 163);
    height: 45px;
    box-shadow: 0px 3px 13px 0px rgba(2, 3, 3, 0.16);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline;
    margin-left: 5%;
}

.header-links {
    text-align: right;
    margin-bottom: 0px;
}

.header-elem {
    line-height: 45px;
    cursor: pointer;
    display: inline-block;
}

.header-elem:hover {
    transition: color 0.2s;
    color: rgba(255, 255, 255, 1);
}

.footer {
    background-color: rgb(143, 146, 149);
    height: 100px;
    box-shadow: 0px 3px 13px 0px rgba(2, 3, 3, 0.16);
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.pagination a {
    margin: 0 !important;
    padding: 0 !important;
}

.ornament {
    text-align: center;
}

.header-contents a {
    color: rgba(255, 255, 255, 0.75);
}

.share {
    text-align: right;
}

.share ul {
    list-style-type: none;
}

.share li {
    display: inline;
    vertical-align: top;
}

.bigger-text {
    font-size: 115%;
}

.post {
    text-align: justify;
}

.post p:not(.img) {
    text-indent: 2em;
}

.post table {
    margin: 0 auto;
    margin-bottom: 1.5em;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.post-title {
    margin-bottom: 10px;
}

.post-date {
    margin-bottom: 10px;
}

.formatted-par {
    text-indent: 2em;
    text-align: justify;
}

.post ul {
    list-style-position: inside;
    padding-left: 3em;
}

.post ol {
    padding-left: 3em;
}

.post li p {
    text-indent: 0 !important;
}

.archive li {
    list-style-type: none;
}

.highlight {
    font-size: medium;
}

::selection {
    background: rgb(26, 188, 156);
}

::-moz-selection {
    background: rgb(26, 188, 156);
}

a {
    color: #ff582c;
}

.about-logos {
    text-align: right;
}
.about-logos img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.rss-img {
    height: 24px;
    width: 24px;
}

.pagination-centered {
    text-align: center;
}

s {
    opacity: 0.6;
}

.post img {
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

