$var title = 'about'

<div class="container large-centered large-7 small-12 columns">
<div class="bigger-text">

<h2>About</h2>

<br>

<p class="formatted-par">
    Hello, my name is Sivabalan Suthakaran.
    I am a Software Developer , working for Microelectronic Packaging industry and interested in web, mobile
    and cloud technologies. Among other things, I am interested in programming languages, functional programming and web.
    I'm also a big fan of soccer and travelling.
</p>

<div class="about-logos">
    <a href="https://twitter.com/tssutha"><img src="/static/img/twitter.png" alt="twitter"/></a>
    <a href="https://github.com/tssutha"><img src="/static/img/github.png" alt="github"/></a>
    <a href="http://www.linkedin.com/pub/suthakaran-sivabalan/1a/170/8b2"><img src="/static/img/linkedin.png" alt="linkedin"/></a>
    <a href="/static/resume.pdf"><img src="/static/img/resume.png" alt="resume"/></a>
</div>

   
</div>
</div>
