<!DOCTYPE html>
<html xmlns:fb=”http://ogp.me/ns/fb#” lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.title %}
                {{ page.title }}
            {% else %}
                Mihnea DB
            {% endif %}
        </title>

        <link rel="icon" type="image/ico" href="/img/favicon.ico?vnew"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="My personal blog. Mostly technical stuff." />
        <meta name="keywords" content="Mihnea, Dobrescu-Balaur, Dobrescu, Balaur, Mozilla, open, source, open-source, blog, programming" />
        <meta name="robots" content="index,follow" />

        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/default.css" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!--typekit fonts-->
        <script type="text/javascript" src="//use.typekit.net/aml8zwo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link href="http://www.mihneadb.net/feed.xml" rel="alternate" type="application/rss+xml" title="Latest posts on mihneadb.net"/>

    </head>

    <body>

    <div class="header">
        <div class="row">
            <div class="header-contents large-centered large-9 small-12 columns">
                <div class="row">
                    <div id="logo" class="small-3 columns"><a class="header-elem" href="/">M</a></div>
                    <div class="small-9 large-offset-4 large-5 columns">
                        <ul class="header-links">
                            <li><a class="header-elem" href="/archive/">Archive</a></li>
                            <li><a class="header-elem" href="/about/">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
