---
layout: default
---

{% for post in paginator.posts %}
    <div class="post row">
        <div class="small-12 columns">
            <a href="{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
            <p class="post-date muted text-right">{{ post.date | date_to_long_string }}</p>
            <div class="bigger-text">{{ post.excerpt }}</div>
            <a href="{{ post.url }}">Read post</a>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
{% endfor %}

<p class="text-right"><a href="http://www.mihneadb.net/feed.xml"><img class="rss-img" src="/img/rss.jpg" alt="rss"/></a></p>

<div class="pagination-centered">
    <ul class="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <li><a href="/">Previous</a></li>
            {% else %}
                <li><a href="/page{{ paginator.previous_page }}">Previous</a></li>
            {% endif %}
        {% else %}
        <li><span class="unavailable muted">Previous</span></li>
        {% endif %}
        <li><span class="current">-{{ paginator.page }}-</span></li>
        {% if paginator.next_page %}
        <li><a href="/page{{ paginator.next_page }}">Next</a></li>
        {% else %}
        <li><span class="unavailable muted">Next</span></li>
        {% endif %}
    </div>
</div>



            <ol>
			$for post in postlist:
				<li id=""> <a href=""> $post </a></li>
			</ol>
			
			
			
			===
			<div class="container large-centered large-7 small-12 columns">
    <div class="row">
        <div class="content">
            $for post in postlist
            	<div class="post row">
       		 		<div class="small-12 columns">
            		<a href="$post.filename"><h4 class="post-title">$post.title</h4></a>
            		<p class="post-date muted text-right">$post.date</p>
            		</div>
    			</div>
    			<hr/>
           

        </div>
    </div>
</div>