$def with (content)

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
	<meta http-equiv = "X-UA-Compatible " content= "IE=edge,chorme=1" />
	<title> $content.title </title>
	<meta name="description" content="Sri Lankan Hacker Community"/>
	<meta name="Author" content ="TSSUTHAKARAN"/>
	<meta name= "viewport" content ="width=device-width, initial-scale=1.0,maximum-scale=1.0" />
	<meta name= "apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar=style" content="black"/>
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='style' type='text/css'/>
	<link href= 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel= 'style' type='text/css'/>
	<link href="..\static\css\style.css" rel="stylesheet"/>
	<link href="..\static\css\reset.css" rel="stylesheet"/>
	<script type="text\javascript"> </script>
</head>

<body>
	<header>	
	<div>
		<div class="headerrow">
		<nav>
			<ul>
				<li> <a href=""> About</a></li>
				<li> <a href="/submit"> New </a></li>
				<li> <a href=""> Ask</a></li>
				<li> <a href=""> Jobs </a></li>
				<li> <a href=""> Threads</a></li>
				<li class="li_right"> <a href="/register"> Login </a></li>
			</ul>
		</nav>
		</div>
	</div>	
	</header>
	
	$:content
	
	<footer>
	<div class = "container">	
	<p align='left'>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" 
	                style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
	</a>
	</br>
	<small>Site Design /Logo &copy; 2013 HackerCircleLk inc; rev 2013.10.1.23.45 </small>
	</p>	
	</div>
	<footer>
	
	
</body>
</html>

